.container {
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  justify-content: space-between;
}

.message {
  border: 2px solid #e2e8f0;
  border-radius: 1.2em;
  padding: 1.3em 2em;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 5%;
}

.message > img:hover,
.container > img:hover {
  cursor: pointer;
}

.message > input,
.message > input::placeholder {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.4);
}

.message > input {
  outline: none;
  border: none;
  width: calc(100% - 30px);
}

.sendicon {
  margin: 0;
  padding: 0;
}

.message > img {
  width: 2em;
  height: 2em;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}
