.container {
  padding: 1.2em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container:hover {
  cursor: pointer;
}
.wrapper {
  display: flex;
}

.image > img {
  border-radius: 1.2em;
  height: 4.8em;
  width: 4.8em;
  display: block;
}
.details {
  margin-left: 1.6em;
}

.timeleft > p,
.user > p {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 150%;
}

.offline::before {
  content: "";
  display: inline-block;
  width: 0.8em;
  margin-right: 0.5em;
  height: 0.8em;
  background-color: #f56565;
  border-radius: 50%;
}

.online::before {
  content: "";
  display: inline-block;
  width: 0.8em;
  margin-right: 0.5em;
  height: 0.8em;
  background-color: #68d391;
  border-radius: 50%;
}

.away::before {
  content: "";
  display: inline-block;
  width: 0.8em;
  margin-right: 0.5em;
  height: 0.8em;
  background-color: #feebc8;
  border-radius: 50%;
}

.user {
  display: flex;
  justify-content: space-between;
}

.message {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.unread {
  color: rgba(0, 0, 0, 1) !important;
}

.selected {
  background: rgba(97, 94, 240, 0.06);
  border-radius: 1.2em;
}
