.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > img {
  width: 4em;
  height: 4em;
  opacity: 0.4;
}

.container > p {
  font-size: 1.3rem;
  margin-top: 1rem;
  opacity: 0.8;
  color: #615ef0;
}
