.content {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  background-color: #ffffff;
}

.chatlist {
  min-width: 35em;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2.4em 2.8em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.userimage > a > img {
  height: 3.8em;
  width: 3.8em;
  border-radius: 0.8rem;
  display: block;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select > p {
  font-weight: 600;
  font-size: 2rem;
}

.select > img {
  margin-left: 1em;
  height: 2.5em;
  width: 2.5em;
  display: block;
}

.select:hover {
  cursor: pointer;
}

.modalcontainer {
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.list {
  padding: 1.2em 1.6em;
  min-height: calc(100vh - 89px);
}

.nochat {
  display: flex;
  min-width: 60em;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.nochat > p {
  font-size: 1.6rem;
  color: #615ef0;
}

@media only screen and (max-width: 600px) {
  .chatlist {
    width: 100vw;
    border: none;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .nochat {
    width: 40em;
    min-width: 0;
  }

  .nochat > p {
    padding: 1em;
    text-align: center;
  }
}
