.container {
  padding: 2em;
}
.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1.2em 0;
}

.select > p {
  font-weight: 600;
  font-size: 2rem;
  line-height: 150%;
}

.select > img {
  width: 4em;
  height: 4em;
}

.modalcontainer {
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
