.container {
  width: 60em;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1.6em;
}

.userdetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.4em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profilephoto > img {
  width: 4em;
  height: 4em;
  border-radius: 1em;
  display: block;
}

.username {
  font-size: 2rem;
  line-height: 125%;
  font-weight: 600;
}

.status {
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.6;
}

.status::before {
  content: "";
  display: inline-block;
  width: 0.8em;
  margin-right: 0.5em;
  height: 0.8em;
  background-color: #68d391;
  border-radius: 50%;
}

.name {
  margin-left: 1.6em;
  max-height: 4em;
}

.chatdisplay {
  min-height: calc(100vh - 89px);
  max-height: calc(100vh - 89px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatinput {
  padding: 1em;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
