.container {
  width: 35em;
  margin: 20em auto 0;
  text-align: center;
}

.photo {
  border-radius: 0.8em;
  padding-bottom: 1em;
}

.photo > img {
  width: 6em;
  height: 6em;
  display: inline-block;
  border-radius: 0.8em;
}

a > p,
.details > p {
  font-size: 2rem;
  line-height: 150%;
  font-weight: 600;
}

.details > p {
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.06);

  border-radius: 0.8rem;
  padding: 1.2rem 0;
  margin-bottom: 1rem;
}

.confirm {
  margin-top: 3em;
}

.confirm > p {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  font-weight: 600;
}

.error {
  margin-top: 1rem;
  color: red;
  border: none !important;
  padding: 0 !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.deleteaccount {
  margin-bottom: 1.4em;
}

.deleteaccount > button {
  background-color: #f56565;
}

a {
  text-decoration: none;
}

a > p {
  text-decoration: none;
  display: flex;
  color: #615ef0;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 3em;
}

a > p > img {
  width: 1em;
  height: 1em;
  margin-right: 0.1em;
  display: block;
}
